@import './../../variables';
@import './../../common';

.btn {
  padding: 7.5px 15px;
  font-size: $fs-medium;
  outline: none;
  border: 2.5px solid #000;
  border-radius: $br-regular;
  transition: all 0.5ms;

  &:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
  }

  &-slim {
    padding: 5px 7.5px;
    border-width: 1.5px;
    font-size: $fs-smaller;
  }

  &-primary {
    border-color: rgb(80, 26, 80);
    background-color: rgb(80, 26, 80);
    color: white;

    &:hover {
      background-color: white;
      color: rgb(80, 26, 80);
    }
  }

  &-delete {
    border-color: rgb(233, 8, 8);
    background-color: rgb(233, 8, 8);
    color: white;

    &:hover {
      background-color: white;
      color: rgb(233, 8, 8);
    }
  }

  &-icon {
    border: 0;
    background-color: transparent;
    color: rgb(233, 8, 8);
  }

  &-full {
    width: 100%;
  }
}
