@import './../../variables';
@import './../../common';

.frame {
  border-width: 1.5px;
  border-style: solid;
  border-color: #444;
  padding: 5px;
  border-radius: $br-regular;

  &.border-bottom {
    border-bottom-width: 1.5px !important;
  }

  &.border-left {
    border-left-width: 1.5px !important;
  }

  &.border-right {
    border-right-width: 1.5px !important;
  }

  &.border-top {
    border-right-width: 1.5px !important;
  }
}
