@import './../../common';
@import './../../variables';

.cx-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    margin: 0;
  }

  &.h3 .text {
    font-size: $fs-larger;
  }
}
