@import './../../variables';
@import './../../common';

.cx-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    margin: 0;
    font-weight: 500;
  }

  &.h3 .text {
    font-size: $fs-larger;
  }

  &.h6 .text {
    font-size: $fs-large;
  }
}
