@import './variables';

/** Margins */
.m-0 {
  margin: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

/** Padding */
.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.br-none {
  border-radius: 0;
}

.border-none {
  border-width: 0 !important;
}

.bg-secondary {
  background-color: #eee;
}

.border-success {
  border-color: $border-success !important;
}

.hover {
  &:hover {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
  }
}

.d-none {
  display: none;
}
