@import './variables.scss';
@import './common';

body {
  font-family: $font-primary;
}

.online-status {
  display: block;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: gray;
}
