@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

$font-primary: 'Lato', sans-serif;

$fs-small: 12px;
$fs-smaller: 14px;
$fs-regular: 16px;
$fs-medium: 18px;
$fs-large: 20px;
$fs-larger: 24px;

$br-regular: 5px;

$border-success: green;
$border-error: red;
